@charset " UTF-8 ";
* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --fonteh1: "Archivo", sans-serif;
  --fontep: "Roboto", sans-serif;
}
body {
  background-color: #ff0000;
}
header {
  font-family: var(--fonteh1);
  text-align: center;
  background-color: white;
}
header > h1 {
  padding-top: 30px;
  font-variant: small-caps;
}
h1 {
  padding: 30px;
  font-size: 3em;
  font-family: var(--fonteh1);
}
h1 > a {
  text-decoration: none;
  color: #1e58d6;
}
nav {
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
  background-color: #ff000079;
  border-bottom: 2px solid rgba(0, 0, 0, 0.493);
}
nav > a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  background-color: grey;
}
main {
  min-width: 280px;
  max-width: 960px;
  margin: auto;
  background-color: white;
  padding: 5px;
  line-height: 1.2em;
  border-radius: 2px 2px 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
}
h2 {
  margin-bottom: 10px;
  text-align: center;
  background-color: #ff000079;
  padding: 15px;
  width: 96%;
  color: #1e58d6;
  text-shadow: 10px black;
}
section {
  font-family: var(--fontep);
}
section > p {
  font-family: var(--fontep);
  text-align: justify;
  text-indent: 2em;
  line-height: 1.3em;
}

footer {
  text-align: center;
  background-color: #ff000059;
}
footer > a {
  text-decoration: none;
  color: #1e58d6;
}

h2#bosque {
  margin-top: 30px;
}
.img {
  padding: 10px;
  display: block;
  margin: auto;
  width: 300px;
}
#fotoh1 {
  width: 200px;
}
